<h1>Services/Comunicação por componentes</h1>
<br />
<ul>
    <li>Um "Event Bus" pode fornecer uma maneira fracamente acoplada de comunicação entre objetos.</li>
    <li>Os serviços podem expor um Subject/BehaviorSubject/ReplaySubject que outros serviços/componentes podem assinar para
    alterações.</li>
    <li>Soluções de gerenciamento de estado também podem ser usadas.</li>
</ul>
<br />
<button (click)="addCustomerPush()" class="btn btn-danger">Add Customer (push only)</button>&nbsp;&nbsp;

<br />
<br />

<div class="row">
    <div class="col-md-6">
        <app-customers-list [customers]="customers" (customerSelected)="selected($event)"></app-customers-list>
    </div>
    <div class="col-md-6">
        <app-customer-details [customer]="customer"></app-customer-details>
    </div>
</div>

<br />
<br />
<h4>Notas:</h4>
<ul>
    <li>Este exemplo mostra como serviços e assuntos podem ser usados para fornecer um mecanismo de comunicação para
    componentes. Clique em um dos botões abaixo e observe como os clientes contam o número no canto superior direito
    mudanças (o barramento de eventos é usado). Observe que quando um cliente é selecionado no componente de apresentação
    "Clientes" os detalhes são exibidos e os detalhes do cliente são exibidos abaixo da barra de navegação (BehaviorSubject é usado)..</li>
    <li>O botão "Adicionar cliente (somente push)" chamará um serviço para adicionar um cliente, mas os dados de clientes
    retornados não serão exibidos corretamente e não acionarão ngOnChanges no componente de apresentação, pois a matriz de
    clientes em si não muda.</li>
</ul>